<header class="navbar">
    <div class="nav-left">
        <a class="logo" routerLink="/threads">2ndThought</a>
    </div>

    <div class="nav-center">
        <form (submit)="onSearch(); $event.preventDefault();" class="search-form">
            <input type="text" placeholder="Search threads..." [(ngModel)]="query" name="q" />
            <button type="submit" class="btn">Search</button>
        </form>
    </div>

    <div class="nav-right">
        <ng-container *ngIf="auth.user$ | async as user; else loggedOut">
            <button class="btn link" (click)="goProfile()">Profile</button>
            <button class="btn" (click)="logout()">Logout</button>
        </ng-container>
        <ng-template #loggedOut>
            <button class="btn" (click)="login()">Login</button>
        </ng-template>
    </div>
</header>